<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <social>
      <profileKeyMappings>
        <network name="Fitbit">
          <field enabled="true" originalKey="aboutMe" sitecoreKey="ft_aboutMe" text="About Me" />
          <field enabled="true" originalKey="avatar" sitecoreKey="ft_avatar" text="Avatar" />
          <field enabled="true" originalKey="avatar150" sitecoreKey="ft_avatar150" text="Avatar 150px" />
          <field enabled="true" originalKey="city" sitecoreKey="ft_city" text="City" />
          <field enabled="true" originalKey="country" sitecoreKey="ft_country" text="Country" />
          <field enabled="true" originalKey="dateOfBirth" sitecoreKey="ft_dateOfBirth" text="Date of birth" />
          <field enabled="true" originalKey="displayName" sitecoreKey="ft_displayName" text="Display name" />
          <field enabled="true" originalKey="distanceUnit" sitecoreKey="ft_distanceUnit" text="Distance unit" />
          <field enabled="true" originalKey="encodedId" mainNetworkDataPropertyName="Id" sitecoreKey="ft_encodedId" text="Id" />
          <field enabled="true" originalKey="foodsLocale" sitecoreKey="ft_foodsLocale" text="Foods locale" />
          <field enabled="true" originalKey="fullName" mainNetworkDataPropertyName="UserName" sitecoreKey="ft_fullName" text="Full name" />
          <field enabled="true" originalKey="gender" sitecoreKey="ft_gender" text="Gender" />
          <field enabled="true" originalKey="glucoseUnit" sitecoreKey="ft_glucoseUnit" text="Glucose unit" />
          <field enabled="true" originalKey="height" sitecoreKey="ft_height" text="Height" />
          <field enabled="true" originalKey="heightUnit" sitecoreKey="ft_heightUnit" text="Height unit" />
          <field enabled="true" originalKey="locale" sitecoreKey="ft_locale" text="Locale" />
          <field enabled="true" originalKey="memberSince" sitecoreKey="ft_memberSince" text="Member since" />
          <field enabled="true" originalKey="nickname" sitecoreKey="ft_nickname" text="Nickname" />
          <field enabled="true" originalKey="offsetFromUTCMillis" sitecoreKey="ft_offsetFromUTCMillis" text="UTC Offset" />
          <field enabled="true" originalKey="startDayOfWeek" sitecoreKey="ft_startDayOfWeek" text="Start day of the week" />
          <field enabled="true" originalKey="state" sitecoreKey="ft_state" text="State" />
          <field enabled="true" originalKey="strideLengthRunning" sitecoreKey="ft_strideLengthRunning" text="Stride length while running" />
          <field enabled="true" originalKey="strideLengthWalking" sitecoreKey="ft_strideLengthWalking" text="Stride length while walking" />
          <field enabled="true" originalKey="timezone" sitecoreKey="ft_timezone" text="Timezone" />
          <field enabled="true" originalKey="waterUnit" sitecoreKey="ft_waterUnit" text="Water unit" />
          <field enabled="true" originalKey="weight" sitecoreKey="ft_weight" text="Weight" />
          <field enabled="true" originalKey="weightUnit" sitecoreKey="ft_weightUnit" text="Weight unit" />
        </network>
      </profileKeyMappings>
    </social>
  </sitecore>
</configuration>